<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="oneSignalUrl" value="https://onesignal.com/api/v1/notifications"/>
    <!--Google Maps-->
    <add key="googleMapsApiKey" value="AIzaSyDRjJk0X68l2e-h5RqBjZ-vmJkezxKg98s"/>
    <add key="googleMapsApiKey2" value="AIzaSyDMvH1rK6msZrQrfwPGdsaP60s6zLs0-oM"/>
    <add key="googleProviderGeo" value="https://maps.googleapis.com/maps/api/geocode/xml?address="/>
    <add key="googleProviderDist" value="https://maps.googleapis.com/maps/api/distancematrix/xml?origins="/>
    <!--Here Maps-->
    <add key="hereProviderGeo" value="https://geocoder.api.here.com/6.2/geocode.json?"/>
    <!--<add key="hereProviderDist" value="https://route.api.here.com/routing/7.2/calculateroute.json?"/>-->
    <add key="hereProviderDist" value="https://matrix.route.api.here.com/routing/7.2/calculatematrix.json?"/>
    <add key="hereMapsAppId" value="kzobkWkoXdvt3kwYJ2c2"/>
    <add key="hereMapsAppId2" value="kzobkWkoXdvt3kwYJ2c2"/>
    <add key="hereMapsAppCode" value="RZKiLMM1kl3pHhyTI-3AXA"/>
    <add key="hereMapsAppCode2" value="RZKiLMM1kl3pHhyTI-3AXA"/>
  </appSettings>
  <connectionStrings>
    <add name="cnnShaman" connectionString="Data Source=192.168.0.247\SQLEXPRESS;Initial Catalog=Gestion;User Id=sa; Password=yeike;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
